#training-card__course a {
    color: var(--color-black);
    text-decoration: underline;
}

#training-card__course a:hover, #training-card__course a:focus {
    color: var(--color-primary);
}

.training__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
    /* align-items: start; */
}

.training-card > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.training-card h4 {
    line-height: 1.4rem;
}

.training-card__icon {
    margin-bottom: 0;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-black);
    background: transparent;
}

.training-card__course-container {
    margin-bottom: 1rem;
}

/* MEDIA QUERIES (tablets) */

@media screen and (max-width: 600px) {
    .training__container {
        grid-template-columns: 1fr;
    }
}