#training {
    text-align: center;
}

#training-card__course{
    opacity: 0.1;
    animation: animateCourse 500ms ease-in forwards;
}

@keyframes animateCourse {
    to {
        opacity: 1;
    }
}

#training-card__course a {
    color: var(--color-black);
    text-decoration: underline;
}

#training-card__course a:hover, #training-card__course a:focus {
    color: var(--color-primary);
}

.training__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
    align-items: start;
}

.training-card > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.training-card h4 {
    line-height: 1.4rem;
}

.training-card__icon {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--color-black);
    background: transparent;
}

.training-card__course-container {
    margin-bottom: 1rem;
}

/* MEDIA QUERIES (tablets) */

@media screen and (max-width: 960px) {
    .training__container {
        grid-template-columns: 1fr;
    }
}