.header__profile {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    column-gap: 2em;
}

.header__profile img {
    width: 75px;
    margin-bottom: 1rem;
    border-radius: 50%;
}