* {
  border: 1px solid red;
}

.nav__container {
  width: 100vw;
  max-width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue), 68%, 42%, 20%);
  transition: var(--transition);
}

.nav__logo {
  width: 8.3rem;
}

.nav-btn {
  font-size: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  padding: 0.2em;
  display: none;
}

.nav__menu {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__menu li a {
  padding: 2em;
}

.nav__menu li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* Hide nav menu on tablets and phones */
@media screen and (max-width: 960px) {
  .nav-btn {
    visibility: visible;
    display: inline;
    opacity: 1;
    z-index: 10;
  }


  .nav__menu {
    position: fixed;
    top: -100vh;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: var(--color-primary);
    flex-direction: column;
    transition: var(--transition);
    
  }

  .responsive_nav .nav__menu{
    transform: translateY(100vh);
  }

  .nav__menu a {
    padding: 1rem;
    width: 100vw;
    display: block;
    text-align: center;
  }

  .nav-close-btn {
    display: none;
  }

  .nav-open-btn {
    margin-right: 5vw;
  }

  .responsive_nav .nav-close-btn {
    position: absolute;
    top: 0.8rem;
    right: 4rem;
    display: inline;
}

.responsive_nav .nav-open-btn {
    display: none;
}

}

#accessibility__options {
  background: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  max-width: 7rem;
  min-width: 1rem;
  text-align: center;
  margin-right: 0;
}

#accessibility__options p {
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
}
